
<div class="grid grid-cols-3 gap-4">
  <div class="flex flex-col space-y-4 p-4 rounded-lg shadow-md bg-white">
      <span class="font-bold">Điều Kiện Thông Tin {{Index+1}}</span>
      <div class="flex flex-col space-y-2" *ngFor="let item of Thongtins;let i = index">
        <span class="font-bold">{{item.Cauhoi}}</span>
        <div (click)="AddDieukienThongtin(item,item1,i)" class="flex flex-row space-x-2 items-center" *ngFor="let item1 of item.Dapan">
          <span class="material-symbols-outlined">{{CheckThongtin(item,item1,i)==true?'radio_button_checked':'radio_button_unchecked'}}</span>
            <span [innerHTML]="item1.value"></span>
      </div>
    </div>
  </div>

  <div class="flex flex-col space-y-4 p-4 rounded-lg shadow-md bg-white">
    <span class="font-bold">Điều Kiện Phân Loại {{Index+1}}</span>
    <div class="flex flex-col space-y-2" *ngFor="let item of Phanloais;let i = index">
      <span class="font-bold">  {{item?.Nhom?.Title}}</span>
      <div (click)="AddDieukienPhanloai(item,item1,i)" class="flex flex-row space-x-2 items-center" *ngFor="let item1 of item.Nhom.Dieukien">
        <span class="material-symbols-outlined">{{CheckPhanloai(item,item1,i)==true?'radio_button_checked':'radio_button_unchecked'}}</span>
        <span>{{item1.Title}}</span>
      </div>
    </div>
  </div>

  <div class="flex flex-col space-y-2 p-4 rounded-lg shadow-md bg-white">
    <div class="flex flex-row justify-between">
      <span class="font-bold">Điều Kiện Tình Trạng {{Index+1}}</span>
      <button mat-raised-button (click)="sendData()">Lưu Điều Kiện</button>
    </div>
      <span class="font-bold">{{Tinhtrang?.Nhom?.Title}}</span>
      <div class="flex flex-col space-y-2" *ngFor="let item1 of Tinhtrang?.children;let i = index">
        <span class="font-bold">  {{item1.Cauhoi}}</span>
        <div  (click)="AddDieukienTrangthai(item1,item2,i)" class="flex flex-row space-x-2 items-center" *ngFor="let item2 of item1.Dapan">              
          <span class="material-symbols-outlined">{{CheckTinhtrang(item1,item2,i)==true?'radio_button_checked':'radio_button_unchecked'}}</span>
          <span [innerHTML]="item2.value"></span>
        </div>
      </div>
  </div>    
</div>
