<div class="flex flex-row justify-center my-4">
  <nav aria-label="Page navigation example">
    <ul class="flex items-center -space-x-px h-10 text-base">
      <li>
        <a href="san-pham?page=1"
          class="flex items-center justify-center px-4 h-10 ml-0 leading-tight text-gray-500 bg-white border border-gray-300 rounded-l-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">
          <span class="material-icons">first_page</span>
        </a>
      </li>
      <li>
        <a href="san-pham?page={{currentPage-1}}"
          class="flex items-center justify-center px-4 h-10 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">
          <span class="material-icons">navigate_before</span>
        </a>
      </li>
      <li class="page-item {{item>totalPages?'hidden':''}}" (click)="pageChanged(item)" *ngFor="let item of listPage">
        <a href="san-pham?page={{item}}"
          class="flex items-center justify-center px-4 h-10 leading-tight {{item==currentPage?'text-blue-600 bg-blue-50':'text-gray-500 bg-white'}} border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">
          {{item}}
        </a>
      </li>
      <li>
        <a href="san-pham?page={{currentPage+1}}"
          class="flex items-center justify-center px-4 h-10 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">
          <span class="material-icons">navigate_next</span>
        </a>
      </li>
      <li>
        <a href="san-pham?page={{totalPages}}"
          class="flex items-center justify-center px-4 h-10 leading-tight text-gray-500 bg-white border border-gray-300 rounded-r-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">
          <span class="material-icons">last_page</span>
        </a>
      </li>
    </ul>
  </nav>
</div>