<ng-container *ngIf="Hinhanh?.spath; else elseTemplate">
  <div class="p-4 group relative">
    <img [src]="Hinhanh?.spath" class="w-40 mx-auto rounded-md" />
    <div
      class="group-hover:block rounded-md hidden absolute inset-0 items-center justify-center bg-black opacity-10"
      (click)="onRemove(Hinhanh)">
      <span class="material-icons text-white flex items-center justify-center h-full">
        cancel
      </span>
    </div>
  </div>
</ng-container>
<ng-template #elseTemplate>
  <ngx-dropzone (change)="onSelect($event)" [multiple]="false" class="flex flex-col spacey-3 !h-full">
    <ngx-dropzone-label>Chọn File</ngx-dropzone-label>
  </ngx-dropzone>
</ng-template>