@tailwind base;
@tailwind components;
@tailwind utilities;
@import 'node_modules/angular-notifier/styles';
@import "swiper/css";
@import "swiper/css/grid";
@import "swiper/css/pagination";
@import "swiper/css/navigation";
@import "swiper/css/scrollbar";
body {
  font-family: 'Quicksand', sans-serif !important;
}
p {
  margin-top: 0;
  margin-bottom: 1rem;
}
:root {
  --swiper-navigation-size: 30px;
}
.text-quicksand
{
  font-family: 'Quicksand', sans-serif !important;
}
html,
body {
  height: 100%;
}
body {
  margin: 0;

  color: #000000;
  .gia {
    font-size: 19px;
    line-height: 21px;
  }
}
.header {
  font-size: 14px;
  line-height: 19.05px;
}
.container {
  max-width: 1440px;
  padding: 0 15px;
}
// .text-3xl {
//   font-size: 32px !important;
//   line-height: 2.5rem !important;
// }
// .text-2xl {
//   font-size: 24px;
//   line-height: 1.5rem;
// }
.centerX-img {
  transform: translateX(-50%);
}
.centerY-img {
  transform: translateY(-50%);
}
.center-img {
  transform: translate(-50%, -50%);
}
.carouesl-product-main .swiper-pagination-bullet-active {
  padding: 5px;
  width: 20px;
  background: #5d5a5a;
  border-radius: 20px;
}
.mat-drawer-content::-webkit-scrollbar {
  display: none !important;
}
.detail-product .mat-expansion-panel-body {
  padding: 0 !important;
}
.inner .mat-expansion-indicator:after {
  border-width: 0 5px 5px 0 !important;
  border: 1px solid black;
  // padding: 9px !important;
}
.inner .mat-expansion-indicator:hover::after {
  border-color: white;
}
.detail-product .mat-expansion-indicator:after {
  border-color: black;
}
.review .mat-expansion-panel-header {
  padding: 0 12px;
}
.review .mat-expansion-indicator:after {
  border-color: black;
}
.review .mat-expansion-panel-body {
  padding: 0 16px 16px;
}
.mySwiper-detail .swiper-slide {
  height: 170px !important;
}
.mat-badge-content {
  background: red;
}
.menu_bot_mobile #mat-badge-content-2
{
  right: 10px;
  top: -6px;
}
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  background-color: #ddd;
}
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #00256e;
}

// .layout_child router-outlet+* {
//   position: relative;
//   display: flex;
//   flex: 1 1 auto;
//   width: 100%;
// }

.adminmenu mat-tree-node[aria-level="2"]
{
  padding-left: 30px!important;
}
.mat-radio-label {
  white-space: normal !important;
}
.example-action-buttons {
  padding-bottom: 20px;
}

.example-headers-align .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}

.example-headers-align .mat-mdc-form-field + .mat-mdc-form-field {
  margin-left: 8px;
}
ngx-dropzone-label
{
  text-overflow: ellipsis;
  overflow: none;
  white-space: nowrap;
  position: relative !important;
}

.header-link {
  display: inline-block;
  color: #000;
  text-decoration: none;
}

.header-link::after {
  content: '';
  display: block;
  width: 0;
  height: 1px;
  background: #000;
  transition: width .3s;
}

.header-link:hover::after {
  width: 100%;
  //transition: width .3s;
}
.mat-tab-header {
  border-bottom: none;
}
.swiper-button-next, .swiper-button-prev {
  color: gray
}

.shine-animation {
  background-repeat: no-repeat;
  background-position: -120px -120px, 0 0;
  
  background-image: -webkit-linear-gradient(
    top left,
    rgba(255, 255, 255, 0.2) 0%,
    rgba(255, 255, 255, 0.2) 37%,
    rgba(255, 255, 255, 0.8) 45%,
    rgba(255, 255, 255, 0.0) 50%
  );
  background-image: -moz-linear-gradient(
    0 0,
    rgba(255, 255, 255, 0.2) 0%,
    rgba(255, 255, 255, 0.2) 37%,
    rgba(255, 255, 255, 0.8) 45%,
    rgba(255, 255, 255, 0.0) 50%
  );    
  background-image: -o-linear-gradient(
    0 0,
    rgba(255, 255, 255, 0.2) 0%,
    rgba(255, 255, 255, 0.2) 37%,
    rgba(255, 255, 255, 0.8) 45%,
    rgba(255, 255, 255, 0.0) 50%
  );
  background-image: linear-gradient(
    0 0,
    rgba(255, 255, 255, 0.2) 0%,
    rgba(255, 255, 255, 0.2) 37%,
    rgba(255, 255, 255, 0.8) 45%,
    rgba(255, 255, 255, 0.0) 50%
  );
  
  -moz-background-size: 250% 250%, 100% 100%;
       background-size: 250% 250%, 100% 100%;
  
  -webkit-transition: background-position 0s ease;
     -moz-transition: background-position 0s ease;       
       -o-transition: background-position 0s ease;
          transition: background-position 0s ease;
}

.shine-animation:hover {
  background-position: 0 0, 0 0;
  
  -webkit-transition-duration: 0.5s;
     -moz-transition-duration: 0.5s;
          transition-duration: 0.5s;
}
.mat-form-field-wrapper {
  padding-bottom: 0;
}

th.mat-header-cell, td.mat-cell, td.mat-footer-cell {
  padding: 0;
  border-width: 1px;
  border-style: solid;
  padding: 12px !important;
}
.mat-sort-header-container {
  display: flex;
  cursor: pointer;
  align-items: center;
  letter-spacing: normal;
  outline: 0;
  justify-content: center;
}

@media (max-width: 768px) {
  .cdk-overlay-pane {
    right: 0 !important;
  }
}
mat-radio-group p,.dapan p
{
    margin-top: 0;
    margin-bottom: 0;
}
.tox-tinymce {
  border: 1px solid #eee !important;
}