<div class="flex flex-col space-y-4 justify-center items-center p-4">
        <h2 class="text-4xl font-semibold">BẠN CÓ HẸN TƯ VẤN CÙNG H.DERMA?</h2>
        <p class="max-w-xl font-medium text-center">
          Bạn đang lo lắng về tình trạng da hiện tại hay cần một quy trình chăm sóc đúng cách, phù hợp? Hãy để lại lời nhắn để được trực tiếp chuyên gia của H.Derma tư vấn, lên phác đồ miễn phí và nhận nhiều thông tin ưu đãi dành riêng cho bạn!
        </p>
        <div class="w-full h-[100vh] relative mt-5" *ngIf="items.length">
            <iframe class="w-full h-full google-map z-10 relative" style="border:0;" allowfullscreen="" loading="lazy"
              referrerpolicy="no-referrer-when-downgrade"></iframe>
            <div
              class="bg-white p-3 rounded absolute" style="width: 310px;top: 10vh;right: 30px;z-index: 10;overflow: auto;">
              <div class="flex flex-row justify-between items-center p-4">
                <h4>Tên Cửa Hàng</h4>
                <span class="material-icons" (click)="isShowMap=!isShowMap">manage_search</span>
                <!-- <input class="text-sm w-100 lg:p-3 py-3" type="text" placeholder="Tên cửa hàng"> -->
              </div>
              <div class="h-96 space-y-4 overflow-auto scroll" *ngIf="isShowMap">
                <div class="flex flex-col cursor-pointer" (click)="getiframe(item)"
                  *ngFor="let item of items">
                  <div class="flex flex-row space-x-4 items-center font-semibold">
                    <span class="material-icons text-[#434343] text-4xl">
                      location_on
                    </span>
                    <h5 class="font-weight-bold mb-0">
                      {{item.Title}}
                    </h5>
                  </div>
                  <p class="text-gray-400">{{item.Des}}</p>
                </div>
              </div>
            </div>
          </div>  
          <div class="max-w-2xl flex flex-col space-y-2 w-full !mt-16">
            <div class="text-center text-2xl font-semibold">ĐỂ LẠI LỜI NHẮN</div>
            <div class="grid lg:grid-cols-2 grid-cols-1 gap-4">
                <mat-form-field appearance="outline" class="w-full">
                  <mat-label>Họ Tên</mat-label>
                  <input type="text" matInput class="w-full px-3 py-2 border border-gray-200 rounded"
                    [placeholder]="'Họ Tên'" />
                </mat-form-field>  
                <mat-form-field appearance="outline" class="w-full">
                  <mat-label>Email</mat-label>
                  <input type="text" matInput class="w-full px-3 py-2 border border-gray-200 rounded"
                    [placeholder]="'Email'"/>
                </mat-form-field>  
            </div>
            <mat-form-field appearance="outline" class="w-full">
                <mat-label>Lời Nhắn</mat-label>
                <textarea matInput></textarea>
              </mat-form-field>
              <div class="text-center">
              <button type="button" class="text-white bg-gray-800 hover:bg-gray-900 focus:outline-none focus:ring-4 focus:ring-gray-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-gray-800 dark:hover:bg-gray-700 dark:focus:ring-gray-700 dark:border-gray-700">Gửi Tin Nhắn</button>
              </div>
          </div>

</div>