<div class="lg:max-w-7xl lg:mx-auto lg:px-5 md:px-10 py-10 md:my-10 px-3 bg-white rounded-xl">
  <ng-container *ngIf="giohang.length>0; else elseTemplate">
    <div class="grid lg:grid-cols-5 grid-cols-1 gap-4">
      <div class="border lg:col-span-3 rounded-lg w-full flex flex-col space-y-4">
        <div class="flex flex-col space-y-4 p-4 border-b">
            <div class="font-semibold text-2xl">Thông Tin Khách Hàng</div>
            <div class="grid lg:grid-cols-2 grid-cols-1 gap-4">
              <mat-form-field appearance="outline" class="w-full text-sm">
                <mat-label>Họ Tên</mat-label>
                <input type="text" [(ngModel)]="Khachhang.Hoten" [ngModelOptions]="{standalone: true}"
                [disabled]="token"
                 matInput class="w-full px-3 py-2 border border-gray-200 rounded"
                  [placeholder]="'Họ Tên'" />
              </mat-form-field>  
              <mat-form-field appearance="outline" class="w-full text-sm">
                <mat-label>Số Điện Thoại</mat-label>
                <input type="text" [(ngModel)]="Khachhang.SDT" [ngModelOptions]="{standalone: true}"
                [disabled]="token"
                 matInput class="w-full px-3 py-2 border border-gray-200 rounded"
                  [placeholder]="'Số Điện Thoại'" />
              </mat-form-field>  
              <mat-form-field appearance="outline" class="w-full text-sm">
                <mat-label>Email</mat-label>
                <input type="text" [(ngModel)]="Khachhang.email" [ngModelOptions]="{standalone: true}"
                [disabled]="token"
                 matInput class="w-full px-3 py-2 border border-gray-200 rounded"
                  [placeholder]="'Số Điện Thoại'" />
              </mat-form-field> 
            </div>
        </div>
        <div class="flex flex-col space-y-4 p-4 border-b">
            <div class="font-semibold text-2xl">Địa Chỉ Giao Hàng</div>
            <app-diachi [isSingle]="token==null?true:false" [Diachis]="Diachis" (diachiEmit)="GetDiachi($event)"></app-diachi>
        </div>       
        <div class="flex flex-col space-y-4 p-4">
            <div class="font-semibold text-2xl">Phương Thức Thanh Toán</div>
            <div class="flex flex-col space-y-4">
                <div class="flex space-x-2 items-center" (click)="SetPayment('COD')">
                  <span class="material-symbols-outlined">{{Khachhang.Payment=='COD'?'radio_button_checked':'radio_button_unchecked'}}</span>
                  <span class="material-symbols-outlined text-4xl">payments</span> 
                  <span>Tiền Mặt COD</span> 
                </div>
                <div class="flex space-x-2 items-center" (click)="SetPayment('VNPAY')">
                  <span class="material-symbols-outlined">{{Khachhang.Payment=='VNPAY'?'radio_button_checked':'radio_button_unchecked'}}</span>
                  <img src="https://images.tazagroup.vn/hderma/assets/payment/vnpay.png" class="h-[50px]">
                  <span>VNPAY</span>                  
                </div>
                <!-- <app-giaohangtietkiem></app-giaohangtietkiem> -->
            </div>
        </div>        
      </div>
      <div class="border lg:col-span-2 rounded-lg w-full p-5 flex flex-col space-y-4">
        <div class="text-2xl text-center font-bold py-4">Đơn Hàng Của Bạn</div>
        <div class="flex flex-row items-center justify-between space-x-4 border-b border-gray-100 last:border-b-0 p-2"
        *ngFor="let item of carts">
        <div class="p-4">
          <img [src]="GetImage(item.Hinhanh)" class="w-40 rounded-md" />
        </div>
        <div class="flex flex-col space-y-2">
          <div class="font-bold line-clamp-2">{{ item.Tieude }}</div>
         <div class="flex flex-row justify-between">
          <div>{{item.soluong}}x{{ item.Gia |number:'1.0-2'}}đ</div>
         </div>        
        </div>
          <div class="flex font-bold min-w-16 text-right">
            {{ item.soluong*item.GiaSale |number:'1.0-2'}}đ
          </div>
      </div>
      <div class="flex flex-row justify-between font-bold">
        <div>Tổng</div>
        <div>{{Total(carts)|number:'1.0-2'}}đ</div>
      </div>
      <div class="flex flex-row justify-between font-bold">
        <div>Phí Ship</div>
        <div>0đ</div>
      </div>
      <app-giaohangtietkiem></app-giaohangtietkiem>
      <div class="flex flex-row justify-between font-bold">
        <div>Tổng Cộng</div>
        <div>{{Total(carts)|number:'1.0-2'}}đ</div>
      </div>
      <div class="p-4 rounded-md bg-black hover:bg-gray-700 text-white"(click)="DatHang(Khachhang)">Đặt hàng</div>
      </div>
    </div>
  </ng-container>
  <ng-template #elseTemplate>
    <div class="flex flex-col space-y-3">
    <div class="text-4xl text-center">Giỏ Hàng Trống</div>
    <div class="flex flex-row space-x-4 justify-center">
      <a href="/" mat-raised-button>Về Trang Chủ</a>
      <a href="/san-pham" mat-raised-button>Sản Phẩm</a>
    </div>
  </div>
  </ng-template>
  

</div>