<div class="!flex flex-col flex-auto min-w-0 relative bg-white">
  <div class="relative border-b-2 flex flex-row justify-between items-center p-3">
    <span class="material-icons p-2 hover:bg-gray-200 rounded-full" (click)="CloseDrawer()">
      arrow_back
    </span>
    <div>
      <button mat-raised-button color="primary" (click)="Update(Detail)">Cập Nhật</button>
    </div>
  </div>
  <div class="relative w-full flex flex-col space-y-2 justify-between p-4">
    <div class="grid lg:grid-cols-2 lg:gap-4 gap-2 grid-cols-1">
      <div class="flex flex-col justify-center col-span-2">
        <div class="w-full flex flex-row space-x-4">
          <mat-form-field appearance="outline" class="w-full">
            <mat-label>Nhóm</mat-label>
            <input matInput [(ngModel)]="Detail.Title" [ngModelOptions]="{standalone: true}"
                placeholder="Tiêu Đề">
        </mat-form-field>
        </div>
        <span>Mô Tả</span>
        <editor class="w-full" [apiKey]="APITINYMCE" [(ngModel)]="Detail.Mota" [ngModelOptions]="{standalone: true}"
        [init]="configTiny"></editor>  
      </div>

      <div class="h-[60vh] overflow-auto col-span-2 grid grid-cols-2 gap-2">
        <div class="{{item.correct?'border-2 border-blue-500':'border border-dashed'}} p-4 flex flex-col"
          *ngFor="let item of Detail.Dieukien;let i = index">
          <mat-form-field appearance="outline" class="w-full">
            <mat-label>Tiêu Đề</mat-label>
            <input [(ngModel)]="item.Title" [ngModelOptions]="{standalone: true}"
             type="text" matInput class="w-full px-3 py-2 border border-gray-200 rounded"
              [placeholder]="'Tiêu Đề'" />
          </mat-form-field>
        <div class="flex flex-row space-x-2 w-full">
          <mat-form-field appearance="outline" class="w-full">
            <mat-label>Điểm Từ</mat-label>
            <input [(ngModel)]="item.Diem.Tu" [ngModelOptions]="{standalone: true}"
             type="number" matInput class="w-full px-3 py-2 border border-gray-200 rounded"
              [placeholder]="'Điểm Từ'" />
          </mat-form-field>  
          <mat-form-field appearance="outline" class="w-full">
            <mat-label>Điểm Đến</mat-label>
            <input [(ngModel)]="item.Diem.Den" [ngModelOptions]="{standalone: true}"
             type="number" matInput class="w-full px-3 py-2 border border-gray-200 rounded"
              [placeholder]="'Điểm Từ'" />
          </mat-form-field>  
        </div>
        <div class="flex flex-col space-y-3">
          <div class="font-bold">Mô Tả</div>
          <editor class="w-full" [apiKey]="APITINYMCE" [(ngModel)]="item.Mota" [ngModelOptions]="{standalone: true}"
              [init]="configTiny"></editor> 
        </div>


          <!-- <div class="col-span-2 flex flex-row space-x-2 justify-between items-center">
            <div class="flex flex-row space-x-2 items-center {{item.correct?'font-bold':''}}" (click)="CheckCorrect(item)">
              <span>Đáp Án {{i+1}}</span>
              <span class="material-symbols-outlined text-blue-500" *ngIf="item.correct">
                check_circle
              </span>
              <mat-form-field appearance="outline" class="max-w-[100px] text-xs">
                <mat-label>Điểm</mat-label>
                <input type="number" matInput [(ngModel)]="Detail.Dapan[i].Diem" [ngModelOptions]="{standalone: true}" 
                  class="px-3 py-2 border border-gray-200 rounded"
                  [placeholder]="'Điểm'"/>
              </mat-form-field>
            </div>
            <span class="material-symbols-outlined text-red-500" (click)="RemoveDapan(item)">close</span>
          </div>
          <div class="col-span-2 flex flex-row space-x-2 justify-between items-center">
            <div class="flex flex-col justify-center">
              <span>Trả Lời</span>
              <editor class="w-full" [apiKey]="APITINYMCE" [(ngModel)]="Detail.Dapan[i].value" [ngModelOptions]="{standalone: true}"
              [init]="configTiny"></editor> 
            </div>
            <div class="flex flex-col justify-center">
              <span>Mô Tả</span>
              <editor class="w-full" [apiKey]="APITINYMCE" [(ngModel)]="Detail.Dapan[i].Mota" [ngModelOptions]="{standalone: true}"
              [init]="configTiny"></editor>  
            </div>
          </div> -->
        </div>
      </div>

      <div>
        <button mat-stroked-button (click)="AddDapan()">Thêm Đáp Án</button>
      </div>

    </div>
  </div>