<h2 class="lg:block hidden text-center lg:text-4xl text-2xl font-medium py-8">H.DERMA VÌ VẺ ĐẸP LÀ SỰ PHÙ HỢP</h2>
<mat-drawer-container class="w-full" autosize>
  <mat-drawer #drawer [opened]="Opened" [mode]="drawerMode" class="!flex flex-col flex-auto border-0 min-w-0 relative h-full lg:w-1/4 w-2/3"
    position="start">
    <div class="relative flex flex-col space-y-3 h-full w-full p-8">
      <div class="flex flex-row justify-between items-center">
        <span class="text-2xl font-semibold">Bộ Lọc</span>
        <span class="font-semibold" (click)="Reset()"> Xoá</span>
      </div>
      <mat-divider></mat-divider>
      <div class="text-xl font-semibold">Tình Trạng Da</div>
      <mat-checkbox color='primary' 
      *ngFor="let item of TagsTinhtrang;let i = index" (change)="checkTags(TagsTinhtrang[i])" [(ngModel)]="TagsTinhtrang[i].checked" [ngModelOptions]="{standalone: true}">
      <span class="text-quicksand">{{item.Tieude}}</span>
    </mat-checkbox>
      <mat-divider></mat-divider>
      <div class="text-xl font-semibold">Loại Sản Phẩm</div>
      <mat-checkbox color='primary' *ngFor="let item of TagsLoai">
        <span class="text-quicksand">{{item.Tieude}}</span>
      </mat-checkbox>
    </div>
  </mat-drawer>
  <mat-drawer-content class="!flex flex-col flex-auto space-y-4 min-w-0 relative bg-white">
    <h2 class="flex lg:hidden text-center lg:text-4xl text-2xl font-medium p-4 mt-4">H.DERMA VÌ VẺ ĐẸP LÀ SỰ PHÙ HỢP</h2>
    <div class="relative flex flex-col max-w-[1920px]">
      <div class="flex flex-row p-3 items-center justify-between w-full">
        <button (click)="drawer.toggle()" type="button" class="flex lg:hidden text-gray-900 bg-white border border-gray-300 focus:outline-none hover:bg-gray-100 
            focus:ring-4 focus:ring-gray-200 font-medium rounded-lg text-sm px-5 py-2.5 
            mr-2 mb-2 dark:bg-gray-800 dark:text-white dark:border-gray-600 
            dark:hover:bg-gray-700 dark:hover:border-gray-600 dark:focus:ring-gray-700">
          <span class="material-symbols-outlined">filter_alt</span>
        </button>
        <div class="hidden lg:flex text-2xl font-semibold">Sản Phẩm</div>
        <div class="flex flex-row space-x-4 items-center">
          <div class="hidden lg:flex">20 Sản Phẩm</div>
          <mat-form-field appearance="outline" class="text-sm">
            <mat-select [(ngModel)]="Sortby" [ngModelOptions]="{standalone: true}">
              <mat-option [value]="item" *ngFor="let item of Sortbys">{{item.Title}}</mat-option>
            </mat-select>
          </mat-form-field>

        </div>
      </div>
    </div>
    <div class="relative flex flex-col h-full w-full overflow-auto">
      <div class="grid grid-cols-2 lg:grid-cols-4 lg:gap-4 lg:p-4">
        <div class="flex flex-col space-y-3 p-4 items-center justify-center" *ngFor="let item of FilterSanphams">
          <a [routerLink]="item.Slug" class="flex flex-col space-y-3 items-center justify-center">
          <img [src]="GetImage(item)" class="rounded-lg">
          <div class="line-clamp-2">{{item.Tieude}}</div>
        </a>
        <div class="text-xl flex flex-row space-x-2 items-center">
          <div class="font-semibold">{{item.GiaSale|number:'1.0-2'}}đ</div>
          <div *ngIf="(item.Gia - item.GiaSale)>0">{{(item.Gia - item.GiaSale)|number:'1.0-2'}}đ</div>
          <button (click)="addtocart(item)" mat-icon-button class="bg-black text-white">      
            <span class="material-symbols-outlined">shopping_cart</span>
           </button>
        </div>
        </div>
      </div>
      <div class="flex flex-row justify-center px-3 space-x-2 my-4 w-full">
        <a mat-stroked-button class="!min-w-[30px] !leading-8" href="san-pham?page=1">
          <span class="material-icons">first_page</span>
        </a>
        <a mat-stroked-button class="!min-w-[30px] leading-8" href="san-pham?page={{currentPage-1}}">
          <span class="material-icons">navigate_before</span>
        </a>
          <a mat-stroked-button class="!min-w-[30px] leading-8" class="{{item>totalPages?'hidden':''}} {{item==currentPage?'text-white bg-black':'text-gray-500 bg-white'}}" (click)="pageChanged(item)" *ngFor="let item of listPage">
            {{item}}
          </a>
        <a mat-stroked-button class="!min-w-[30px] leading-8" href="san-pham?page={{currentPage+1}}">
          <span class="material-icons">navigate_next</span>
        </a>
        <a mat-stroked-button class="!min-w-[30px] leading-8" href="san-pham?page={{totalPages}}">
          <span class="material-icons">last_page</span>
        </a>
    </div>
    </div>
  </mat-drawer-content>
</mat-drawer-container>