html,
body {
  height: 100%;
}
.mdc-button {
  font-family: "Quicksand", sans-serif !important;
}
.text-qs {
  font-family: "Quicksand", sans-serif !important;
}
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  background-color: #ddd;
}
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #00256e;
}
.header-link {
  display: inline-block;
  text-decoration: none;
  color: white !important;
}

.header-link::after {
  content: '';
  display: block;
  width: 0;
  height: 0.3px;
  background: white;
  transition: width .3s;
}

.header-link:hover::after {
  width: 100%;
  //transition: width .3s;
}
.resume_list ul:before {
  position: absolute;
  content: "";
  top: 10px;
  bottom: 0;
  left: 36px;
  width: 1px;
  background-color: #5d5e82;
}