<!-- <div class="lg:max-w-7xl lg:p-8 p-2 m-auto space-y-4">
    <ng-container *ngIf="state$ | async as state">
        <div class="flex flex-row space-x-2">
            <span class="material-icons text-green-500">check_circle</span>  
            <span> Bạn đã đặt thành công đơn hàng </span>  
            <span class="text-blue-500 font-bold">    {{state.MaDonHang}} </span>
        </div>
    </ng-container>
    <div class="flex flex-row space-x-2 justify-center">
        <button mat-raised-button [routerLink]="['/trang-chu']">Trang Chủ</button>
        <button mat-raised-button [routerLink]="['/san-pham']">Sản Phẩm</button>
</div>
</div> -->
<div class="bg-gray-100 p-4">
    <div class="flex flex-col lg:max-w-4xl lg:p-8 p-2 m-auto space-y-4 bg-white rounded-lg shadow">
        <div class="text-[#00b746] font-bold text-xl">Đặt Hàng Thành Công</div>
        <div class="flex flex-row space-x-2">
           <span> Cảm ơn </span><span class="font-bold">{{Detail?.Hoten}}</span><span> Đã cho H.Derma được phục vụ </span>
        </div>
        <div class="grid grid-cols-4 gap-3 p-4 border-t">
            <div class="flex flex-col space-y-2">
                <div class="font-bold">Đơn Hàng</div>
                <div>{{Detail?.MaDonHang}}</div>
                <a class="tex">Xem Hoá Đơn</a>
            </div>
            <div class="flex flex-col space-y-2">
                <div class="font-bold">Ngày Tạo</div>
                <div>{{Detail?.Ngaytao|date:'dd/MM/yyyy'}}</div>
            </div>
            <div class="col-span-2 flex flex-col space-y-2">
                <div class="font-bold">Địa Chỉ Giao Hàng</div>
                <div class="flex space-x-2 flex-wrap">
                    <span>{{Detail?.Diachi?.Diachi+','}}</span>
                    <span>{{Detail?.Diachi?.Phuong+','}}</span>
                    <span>{{Detail?.Diachi?.Quan+','}}</span>
                    <span>{{Detail?.Diachi?.Tinh}}</span>
                </div>   
            </div>
        </div>
        <div class="border lg:col-span-2 rounded-lg w-full p-5 flex flex-col space-y-4">
            <div class="text-2xl text-center font-bold py-4">Đơn Hàng Của Bạn</div>
            <div class="flex flex-row items-center justify-between space-x-4 border-b border-gray-100 last:border-b-0 p-2"
            *ngFor="let item of Detail?.Donhangchitiets">
            <div class="p-4">
              <img [src]="GetImage(item?.Product?.Hinhanh?.hinhthongtin?.spath)" class="w-40 rounded-md" />
            </div>
            <div class="flex flex-col space-y-2">
              <div class="font-bold line-clamp-2">{{ item?.Tieude }}</div>
             <div class="flex flex-row justify-between">
              <div>{{item?.Soluong}}x{{ item?.Product?.Gia |number:'1.0-2'}}đ</div>
             </div>        
            </div>
              <div class="flex font-bold min-w-16 text-right">
                {{ item?.Soluong*item?.Product?.GiaSale |number:'1.0-2'}}đ
              </div>
          </div>
          <div class="flex flex-row justify-between font-bold">
            <div>Tổng</div>
            <div>{{Total(Detail?.Donhangchitiets)|number:'1.0-2'}}đ</div>
          </div>
          <div class="flex flex-row justify-between font-bold">
            <div>Phí Ship</div>
            <div>0đ</div>
          </div>
          <app-giaohangtietkiem></app-giaohangtietkiem>
          <div class="flex flex-row justify-between font-bold">
            <div>Tổng Cộng</div>
            <div>{{Total(Detail?.Donhangchitiets)|number:'1.0-2'}}đ</div>
          </div>
          </div>        
    </div>
</div>
<div class="bg-white py-8"></div>