<!-- mobile -->
<div class="fixed top-0 w-full bg-white z-10">
<div class="lg:hidden py-4 flex flex-row justify-between items-center w-full max-w-7xl m-auto">
  <div class="text-lg flex flex-row space-x-4 justify-end items-center pl-5">
    <span class="text-2xl material-symbols-outlined" (click)="OpenMenu()">menu</span>
    <span class="text-2xl material-symbols-outlined" (click)="openDialog(searchTemplate)">search</span>
  </div>
  <div>
    <a href="/"><img src="https://hderma.vn/assets/images/logo.svg" class="w-40 h-auto"></a>
  </div>
  <div class="text-lg flex flex-row space-x-4 justify-end items-center pr-5">
     <a [href]="'dangnhap'" class="text-2xl material-symbols-outlined">account_circle </a>
     <span matBadge="{{soluong}}" matBadgeColor="warn" class="text-2xl material-symbols-outlined" (click)="Opencart()">shopping_cart</span>
  </div>
</div>

<!-- desktop -->
<div class="lg:flex hidden py-4 flex-row justify-between w-full max-w-7xl m-auto">
  <div>
    <a href="/"><img src="https://hderma.vn/assets/images/logo.svg" class="w-52 h-auto"></a>
  </div>
  <div class="flex flex-row space-x-3 items-center py-4">
    <ng-container *ngFor="let item of Menus">
      <ng-container *ngIf="item.children!=null&&item.children.length>0; else elseTemplate">
        <a class="header-link px-4 py-2 font-semibold uppercase transition-all" 
        [matMenuTriggerFor]="beforeMenu" #menuTrigger="matMenuTrigger"
        (mouseover)="menuTrigger.openMenu()">{{item.Title}}</a>
        <mat-menu #beforeMenu="matMenu" xPosition="before">
          <span (mouseleave)="menuTrigger.closeMenu()" >
          <a [routerLink]="[item1.Slug]" routerLinkActive="!bg-black !text-white" mat-menu-item
            *ngFor="let item1 of item.children">{{item1.Title}}
          </a>
        </span>
        </mat-menu>
      </ng-container>
      <ng-template #elseTemplate>
        <a class="header-link px-4 py-2 font-semibold uppercase transition-all" [routerLink]="[item.Slug]">
          <span class="text-sm">
            {{item.Title}}
          </span>
        </a>
      </ng-template>
    </ng-container>
</div>
  <div class="text-lg flex flex-row space-x-6 justify-end items-center pr-5">
     <span class="text-3xl material-symbols-outlined"(click)="openDialog(searchTemplate)">search</span>
     <ng-container *ngIf="token; else elseTemplate">
      <a [matMenuTriggerFor]="matlogin" class="font-bold hover:bg-gray-200 p-2">{{CUser.Shortname}}</a>
          <mat-menu #matlogin="matMenu">
            <a [href]="'profile'" mat-menu-item>Thông Tin</a>
            <a mat-menu-item (click)="Dangxuat()">Đăng Xuất</a>
          </mat-menu>
     </ng-container>
     <ng-template #elseTemplate>
      <a [href]="'dangnhap'" class="text-3xl material-symbols-outlined">account_circle</a>
     </ng-template>
     <span matBadge="{{soluong}}" matBadgeColor="warn" class="text-3xl material-symbols-outlined" (click)="Opencart()">shopping_cart</span>
  </div>
</div>
</div>

<ng-template #searchTemplate>
  <div class="lg:min-w-[30vw]">
  <div mat-dialog-content>
      <div class="flex flex-col w-full space-y-4">
        <mat-form-field appearance="outline" class="w-full text-xs">
          <mat-label>Tiêu Đề</mat-label>
          <input matInput (keyup)="applyFilter($event)" class="w-full" placeholder="Mô Tả">
          <span matPrefix class="material-icons mr-2">search</span>
      </mat-form-field>  
        <div class="flex flex-col space-y-4 min-h-[10vh] max-h-[50vh]">
          <div class="flex flex-col space-y-2" *ngIf="ListsBaiviet.length>0">
            <div class="text-xl font-bold">Bài Viết</div>
            <a class="p-2 bg-gray-200 border rounded-lg hover:!bg-black" [href]="'bai-viet/'+item.Slug" *ngFor="let item of ListsBaiviet">
              {{item.Title}}
            </a>
          </div>
          <div class="flex flex-col space-y-2" *ngIf="ListsSanpham.length>0">
            <div class="text-xl font-bold">Sản Phẩm</div>
            <a class="p-2 bg-gray-200 border rounded-lg hover:!bg-black" [href]="'san-pham/'+item.Slug" *ngFor="let item of ListsSanpham">{{item.Tieude}}</a>
          </div>
          <div class="flex flex-col space-y-2" *ngIf="ListsSanpham.length==0&&ListsBaiviet.length==0">
            <div class="text-center justify-center items-center">Không có tìm kiếm gần đây</div>
          </div>

        </div>
      </div>
  </div>
</div>
</ng-template>