<mat-drawer-container class="example-container w-full h-full" autosize>
  <mat-drawer #Cartdrawer mode="over" position="end" class="!flex flex-col flex-auto min-w-0 relative h-full lg:w-1/3 w-full">
    <taza-base-cart></taza-base-cart>
  </mat-drawer>
  <mat-drawer #drawer mode="over" class="!flex flex-col flex-auto min-w-0 relative h-full w-2/3">
    <div class="relative flex flex-col space-y-4 p-4 w-full h-[100vh]">
      <div class="flex flex-row justify-between items-center">
        <a href="/"><img src="https://hderma.vn/assets/images/logo.svg" class="w-40 h-auto"></a>
        <span class="material-symbols-outlined" (click)="drawer.close()">close</span>
      </div>
        <div class="relative flex flex-col w-full h-full overflow-auto space-y-2">
          <ng-container *ngFor="let item of Menus">
            <ng-container *ngIf="item.children!=null&&item.children.length>0; else elseTemplate">
              <!-- <a class="px-4 py-2 font-semibold uppercase" [matMenuTriggerFor]="beforeMenu">
                <span class="header-link text-sm">
                  {{item.Title}}
                </span>
              </a>
              <mat-menu #beforeMenu="matMenu" xPosition="before">
                <a [routerLink]="[item1.Slug]" routerLinkActive="bg-black text-white" mat-menu-item
                  *ngFor="let item1 of item.children">{{item1.Title}}
                </a>
              </mat-menu> -->
              <cdk-accordion class="example-accordion">
                <cdk-accordion-item #accordionItem="cdkAccordionItem"
                  class="example-accordion-item"
                  role="button"
                  tabindex="0"
                  [attr.id]="'accordion-header-1'"
                  [attr.aria-expanded]="accordionItem.expanded"
                  [attr.aria-controls]="'accordion-body-1'">
                  <div class="example-accordion-item-header flex flex-row justify-between items-center" (click)="accordionItem.toggle()">
                    <!-- {{item.Title}} -->
                    <a class="px-4 py-2 font-semibold uppercase">
                      <span class="header-link text-sm">
                        {{item.Title}}
                      </span>
                    </a>
                    <span class="material-symbols-outlined">{{ accordionItem.expanded ? 'expand_less' : 'expand_more' }}</span>
                  </div>
                  <div
                    class="ml-2 example-accordion-item-body"
                    role="region"
                    [style.display]="accordionItem.expanded ? '' : 'none'"
                    [attr.id]="'accordion-body-1'"
                    [attr.aria-labelledby]="'accordion-header-1'">
                    <a [href]="[item1.Slug]" routerLinkActive="!bg-black text-white" mat-menu-item
                    *ngFor="let item1 of item.children">{{item1.Title}}
                  </a>
                  </div>
                </cdk-accordion-item>
              </cdk-accordion>

            </ng-container>
            <ng-template #elseTemplate>
              <a class="px-4 py-2 font-semibold uppercase" [href]="[item.Slug]">
                <span class="header-link text-sm">
                  {{item.Title}}
                </span>
              </a>
            </ng-template>
          </ng-container>
        </div>
        <div class="relative flex flex-0 flex-col space-y-3 justify-between w-full p-4">
          <span> © 2023 Hderma</span>
          <span>All rights reserved.</span>
        </div> 
      </div>
  </mat-drawer>



  <mat-drawer-content class="!flex flex-col flex-auto min-w-0 relative bg-white !h-screen">
      <div class="relative flex flex-col h-full w-full overflow-auto">
        <app-header></app-header>
       <div class="lg:mt-28 mt-[72px]"><router-outlet></router-outlet></div>
        <app-footer></app-footer>
      </div>
  </mat-drawer-content>
</mat-drawer-container>

