<div class="w3-panel w3-info intro">
  <p>HTML is the standard markup language for Web pages.</p>
  <p>With HTML you can create your own Website.</p>
  <p>HTML is easy to learn - You will enjoy it!</p>
  <a class="w3-btn w3-margin-bottom" href="html_intro.asp" style="font-size: 18px;padding-left:25px;padding-right:25px;font-family: 'Source Sans Pro', sans-serif;margin-top:6px;">Study our free HTML Tutorial »</a><br>
  <a style="font-size: 18px;padding-left:25px;padding-right:25px;font-family: 'Source Sans Pro', sans-serif;margin-top:9px;position:relative;overflow:visible;margin-bottom:1px;" href="/videos/index.php" class="w3-btn ws-black ws-hover-black" title="HTML video tutorial">Watch our Video Tutorial »<span class="ribbon-vidx ws-yellow">NEW</span></a><br>
  </div>

<mat-drawer-container class="example-container w-full h-full" autosize>
  <mat-drawer #drawer mode="over" class="!flex flex-col flex-auto min-w-0 relative h-full w-2/3">
    <div class="relative flex flex-col space-y-4 p-4 w-full h-[100vh]">
      <div class="flex flex-row justify-between items-center">
        <a href="/"><img src="https://hderma.vn/assets/images/logo.svg" class="w-40 h-auto"></a>
        <span class="material-symbols-outlined" (click)="drawer.close()">close</span>
      </div>
        <div class="relative flex flex-col w-full h-full overflow-auto space-y-2">
          <ng-container *ngFor="let item of Menus">
            <ng-container *ngIf="item.children!=null&&item.children.length>0; else elseTemplate">
              <a mat-button [matMenuTriggerFor]="beforeMenu">{{item.Title}}</a>
              <mat-menu #beforeMenu="matMenu" xPosition="before">
                <a [routerLink]="[item1.Slug]" routerLinkActive="bg-black text-white" mat-menu-item
                  *ngFor="let item1 of item.children">{{item1.Title}}
                </a>
              </mat-menu>
            </ng-container>
            <ng-template #elseTemplate>
              <a class="px-4 py-2 font-semibold uppercase" [routerLink]="[item.Slug]">
                <span class="header-link text-sm">
                  {{item.Title}}
                </span>
              </a>
            </ng-template>
          </ng-container>
        </div>
        <div class="relative flex flex-0 flex-col space-y-3 justify-between w-full p-4">
          <span> © 2023 Hderma</span>
          <span>All rights reserved.</span>
        </div> 
      </div>
  </mat-drawer>
  <mat-drawer-content class="!flex flex-col flex-auto min-w-0 relative bg-white !h-screen">
      <div class="relative flex flex-col h-full w-full overflow-auto">
        <app-header></app-header>
        <router-outlet></router-outlet>
        <app-footer></app-footer>
      </div>
  </mat-drawer-content>
</mat-drawer-container>

