<div class="!flex flex-col flex-auto min-w-0 relative bg-white">
  <div class="relative border-b-2 flex flex-row justify-between items-center p-3">
    <span class="material-icons p-2 hover:bg-gray-200 rounded-full" (click)="CloseDrawer()">
      arrow_back
    </span>
    <div>
      <button mat-raised-button color="primary" (click)="Update(Detail)">Cập Nhật</button>
    </div>
  </div>
  <div class="relative w-full flex flex-col space-y-2 justify-between p-4">
    <div class="grid lg:grid-cols-2 lg:gap-4 gap-2 grid-cols-1">
      <!-- <mat-form-field appearance="outline">
        <mat-label>Tiêu Đề</mat-label>
        <input [(ngModel)]="Detail.Title" [ngModelOptions]="{standalone: true}" matInput type="text"
          class="w-full" placeholder="Tiêu Đề" />
      </mat-form-field> -->
  
      <!-- <mat-form-field appearance="outline">
        <mat-label>Câu Hỏi</mat-label>
        <input [(ngModel)]="Detail.Cauhoi" [ngModelOptions]="{standalone: true}" matInput type="text"
          class="w-full" placeholder="Câu Hỏi" />
      </mat-form-field> -->
      <div class="h-[60vh] overflow-auto col-span-2 space-y-2">
        <div class="w-1/2">
          <mat-form-field appearance="outline" class="w-full">
            <mat-label>Câu Hỏi</mat-label>
            <input [(ngModel)]="Detail.Cauhoi" [ngModelOptions]="{standalone: true}" matInput type="text"
              class="w-full" placeholder="Câu Hỏi" />
          </mat-form-field>
        </div>
        <div class="flex flex-row space-x-2 items-center" *ngFor="let item of Detail.Dapan;let i = index">
         <span class="font-bold">{{i+1}}. </span>

         <mat-form-field appearance="outline">
          <mat-label>Nhóm</mat-label>
          <mat-select [(ngModel)]="Detail.Dapan[i].Nhom" [ngModelOptions]="{standalone: true}" [compareWith]="comparer">
            <mat-option [value]="item" *ngFor="let item of Nhomroutine">{{item.Title}}</mat-option>
          </mat-select>
        </mat-form-field>  

        <mat-form-field appearance="outline">
          <mat-label>Đáp Án</mat-label>
          <input type="text" [(ngModel)]="Detail.Dapan[i].value" [ngModelOptions]="{standalone: true}" matInput class="w-full px-3 py-2 border border-gray-200 rounded"
            [placeholder]="'Đáp Án'" />
        </mat-form-field>  
        <editor [apiKey]="APITINYMCE" [(ngModel)]="Detail.Dapan[i].Mota" [ngModelOptions]="{standalone: true}"
        [init]="configTiny"></editor>
        <button mat-icon-button (click)="RemoveDapan(item)">           
          <span class="material-symbols-outlined text-red-500">cancel</span>
        </button>
        </div>
        
          <!-- <div class="relative {{item.correct?'border-2 border-blue-500':'border border-dashed'}} p-4 grid grid-cols-1 gap-2" *ngFor="let item of Detail.Dapan;let i = index">
            <div class="flex flex-row space-x-2 justify-between">
                <span>Đáp Án {{i+1}}</span>
                <mat-form-field appearance="outline">
                    <mat-label>Nhóm</mat-label>
                    <mat-select [(ngModel)]="Detail.Nhom" [ngModelOptions]="{standalone: true}" [compareWith]="comparer">
                      <mat-option [value]="item" *ngFor="let item of Nhomroutine">{{item.Title}}</mat-option>
                    </mat-select>
                  </mat-form-field>
                <span class="material-symbols-outlined text-blue-500" *ngIf="item.correct">
                  check_circle
                  </span>
                  <button mat-icon-button (click)="RemoveDapan(item)">           
                    <span class="material-symbols-outlined text-red-500">cancel</span>
                  </button>
            </div>
            <editor [apiKey]="APITINYMCE" [(ngModel)]="Detail.Dapan[i].value" [ngModelOptions]="{standalone: true}"
            [init]="configTiny"></editor>
          </div> -->
      </div>

      <div>
        <button mat-stroked-button (click)="AddDapan()">Thêm Đáp Án</button>
      </div>

    </div>
  </div>