<div class="flex flex-col space-y-16 mt-8 max-w-[800px] m-auto p-4">
  <div class="flex flex-col">
    <h1 class="mb-2 text-4xl text-center">
      {{Baiviet.Title}}
    </h1>
    <div class="flex flex-row justify-center space-x-4">
      <div>{{Baiviet.CreateAt|date:'dd/MM/yyyy'}}</div>
      <div>134 views</div>
    </div>
  </div>
  <div class="text-justify" [innerHTML]="Baiviet.Baiviet"></div>
  <div class="flex flex-col space-y-4">
    <div class="text-center text-4xl font-semibold">BÀI VIẾT LIÊN QUAN</div>
    <swiper [config]="config" class="mySwiper font-medium w-full">
      <ng-template swiperSlide *ngFor="let item of Bailienquan">
        <a [href]="['/bai-viet/'+item.Slug]"
          class="rounded-lg grid grid-cols-1 gap-4 content-between w-full hover:-translate-y-1 md:hover:-translate-y-1.5 hover:shadow">
          <img [src]="GetImage(item?.Hinhanh?.hinhchinh?.spath)" class="w-full">
          <div class="flex flex-col space-y-2 p-4">
            <div class="font-semibold line-clamp-2">{{item.Title}}</div>
            <div class="line-clamp-2">
              <div [innerHTML]="item.Mota"></div>
            </div>
          </div>
        </a>
      </ng-template>
    </swiper>
    <div class="flex flex-col space-y-2">
      <div>ĐỂ LẠI LỜI NHẮN</div>
      <div class="grid lg:grid-cols-2 grid-cols-1 gap-4">
        <mat-form-field appearance="outline" class="w-full">
          <mat-label>Họ Tên</mat-label>
          <input type="text" matInput class="w-full px-3 py-2 border border-gray-200 rounded"
            [placeholder]="'Họ Tên'"/>
        </mat-form-field>  
        <mat-form-field appearance="outline" class="w-full">
          <mat-label>Email</mat-label>
          <input type="text" matInput class="w-full px-3 py-2 border border-gray-200 rounded"
            [placeholder]="'Email'"/>
        </mat-form-field>  
      </div>
      <mat-form-field appearance="outline" class="w-full">
        <mat-label>Lời Nhắn</mat-label>
        <textarea matInput></textarea>
      </mat-form-field>
      <div class="text-center">
      <button type="button" class="text-white bg-gray-800 hover:bg-gray-900 focus:outline-none focus:ring-4 focus:ring-gray-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-gray-800 dark:hover:bg-gray-700 dark:focus:ring-gray-700 dark:border-gray-700">Gửi Tin Nhắn</button>
      </div>
      
    </div>
  </div>
</div>