<div class="py-2 flex flex-row justify-between w-full m-auto">
  <swiper [config]="confighomepage" class="mySwiper">
    <ng-template swiperSlide>
      <div class="w-full h-full">
        <img class="lg:flex hidden m-auto" src="https://hderma.vn/assets/trangchu/kem-duong-phuc-hoi-chuyen-sau.png" alt="">
        <img class="flex lg:hidden m-auto" src="https://hderma.vn/assets/trangchu/kem-duong-phuc-hoi-chuyen-sau-mobile.png" alt="">
      </div>
    </ng-template>
    <ng-template swiperSlide>
      <div class="w-full h-full relative">
        <img class="lg:flex hidden m-auto" src="https://hderma.vn/assets/trangchu/trangchu1.jpg" alt="">
        <img class="flex lg:hidden m-auto" src="https://hderma.vn/assets/trangchu/trangchu1_mobile.jpg" alt="">
        <div class="hidden absolute lg:flex flex-col space-y-4 top-1/3 left-[20px] p-12 bg-white shadow-md max-w-xl font-medium">
          <span class="text-4xl">VẺ ĐẸP LÀ SỰ PHÙ HỢP </span>
          <span class="text-lg">H.Derma cung cấp giải pháp điều trị và phục hồi chuyên sâu cho từng tình trạng da ở mức độ cấp tế bào.</span>
          <a href="/san-pham"><button type="button" class="text-white bg-gray-800 hover:bg-gray-900 focus:outline-none focus:ring-4 focus:ring-gray-300 font-medium rounded-lg text-sm px-5 py-3 mr-2 mb-2 dark:bg-gray-800 dark:hover:bg-gray-700 dark:focus:ring-gray-700 dark:border-gray-700">VÀO CỬA HÀNG</button></a>
        </div>
      </div>
    </ng-template>
    <ng-template swiperSlide>
      <div class="w-full h-full">
        <img class="lg:flex hidden m-auto" src="https://hderma.vn/assets/trangchu/trangchu2.jpg" alt="">
        <img class="flex lg:hidden m-auto" src="https://hderma.vn/assets/trangchu/trangchu2_mobile.jpg" alt="">
      </div>
    </ng-template>
    <ng-template swiperSlide>
      <div class="w-full h-full">
        <img class="lg:flex hidden m-auto" src="https://hderma.vn/assets/trangchu/trangchu3.jpg" alt="">
        <img class="flex lg:hidden m-auto" src="https://hderma.vn/assets/trangchu/trangchu3_mobile.jpg" alt="">
      </div>
    </ng-template>
  </swiper>
</div>

<div class="lg:pt-20 pt-10 flex flex-col space-y-8 justify-between max-w-[1440px] m-auto">
  <h2 class="uppercase lg:text-5xl text-3xl leading-snug text-center">
    Lý do lựa chọn h.derma?
  </h2>
  <div class="grid lg:grid-cols-4 grid-cols-2 lg:gap-4 m-auto">
    <div class="flex flex-col space-y-3 text-center p-4" *ngFor="let item of Lydo">
      <img [src]="item.Icon" class="h-20">
      <div class="text-2xl font-normal">{{item.Content1}}</div>
      <div class="hidden lg:flex">{{item.Content2}}</div>
    </div>
  </div>
</div>

<div class="lg:pt-20 pt-10 flex flex-col space-y-8 justify-between max-w-[1440px] m-auto">
  <h2 class="uppercase lg:text-5xl text-3xl leading-snug text-center">
    GIẢI PHÁP CHO TÌNH TRẠNG DA
  </h2>
  <mat-tab-group mat-align-tabs="center">
    
    <mat-tab>
      <ng-template mat-tab-label>
        <h3>Trị Nám Da</h3>
      </ng-template>
      <div class="py-8">
        <app-swiperslide [config]="config" [data]="GetTags(Sanphams,['001','002','004','005'])"></app-swiperslide>
      </div>
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label>
        <h3>Trẻ Hoá Da</h3>
      </ng-template>
      <div class="py-8">
        <app-swiperslide [config]="config" [data]="GetTags(Sanphams,['T.610','003','T.606'])"></app-swiperslide>
      </div>
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label>
        <h3>Cấp Ẩm Da</h3>
      </ng-template>
      <div class="py-8">
        <app-swiperslide [config]="config" [data]="GetTags(Sanphams,['D.350','T.201','D.502'])"></app-swiperslide>
      </div>
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label>
        <h3>Làm Sạch Sâu</h3>
      </ng-template>
      <div class="py-8">
        <app-swiperslide [config]="config" [data]="GetTags(Sanphams,['D.100','D.504','D.201','D.202'])"></app-swiperslide>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>


<div class="pt-10 flex flex-col space-y-8 justify-between max-w-[1440px] m-auto">
  <h2 class="uppercase lg:text-5xl text-3xl leading-snug text-center">
    ĐÁNH GIÁ KHÁCH HÀNG
  </h2>
  <div class="py-4">
    <swiper [config]="configdanhgia" class="mySwiper font-medium">
      <ng-template swiperSlide>
        <div class="bg-gray-100 rounded-lg grid grid-cols-1 gap-4 content-between text-justify w-full h-72 p-8">
          <div class="text-blue-600">“Mình rất yên tâm và tin tưởng lựa chọn các dòng sản phẩm từ H.Derma. Hầu hết khi
            sử dụng đều không gặp bất cứ ảnh hưởng tiêu cực gì đến làn da. Nếu có ý định “kết thân” với sản phẩm của
            thương hiệu này thì bạn không cần lo lắng về vấn đề an toàn.”</div>
          <div class="text-xl">KHÁCH HÀNG THẢO TIÊN</div>
        </div>
      </ng-template>
      <ng-template swiperSlide>
        <div class="bg-gray-100 rounded-lg grid grid-cols-1 gap-4 content-between text-justify w-full h-72 p-8">
          <div class="text-blue-600">“Nó không chỉ làm mờ nếp nhăn, vết chân chim – nỗi lo lắng bấy lâu của mình, mà
            ngay cả lỗ chân lông cũng được se khít, vết thâm sạm nám cũng mờ và giảm hẳn. “Xuất sắc” nhất của sản phẩm
            nhà H.Derma chỗ KHÔNG gây kích ứng da.”</div>
          <div class="text-xl">KHÁCH HÀNG QUỲNH NGA</div>
        </div>
      </ng-template>
      <ng-template swiperSlide>
        <div class="bg-gray-100 rounded-lg grid grid-cols-1 gap-4 content-between text-justify w-full h-72 p-8">
          <div class="text-blue-600">“Mình rất yên tâm và tin tưởng lựa chọn các dòng sản phẩm từ H.Derma. Hầu hết khi
            sử dụng đều không gặp bất cứ ảnh hưởng tiêu cực gì đến làn da. Nếu có ý định “kết thân” với sản phẩm của
            thương hiệu này thì bạn không cần lo lắng về vấn đề an toàn.”</div>
          <div class="text-xl">KHÁCH HÀNG THẢO TIÊN</div>
        </div>
      </ng-template>
    </swiper>
  </div>
</div>

<div class="lg:pt-20 pt-10 flex flex-col space-y-8 justify-between max-w-[1440px] m-auto">
  <h2 class="uppercase lg:text-5xl text-3xl leading-snug text-center">
    H.DERMA GỢI Ý CHO BẠN
  </h2>
  <mat-tab-group mat-align-tabs="center">
    <mat-tab>
      <ng-template mat-tab-label>
        <h3>SẢN PHẨM BÁN CHẠY</h3>
      </ng-template>
      <div class="py-8">
        <app-swiperslide [config]="config" [data]="GetTags(Sanphams,['D.350', 'T.606', 'T.240', 'T.201'])"></app-swiperslide>
      </div>
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label>
        <h3>SẢN PHẨM MỚI</h3>
      </ng-template>
      <div class="py-8">
        <app-swiperslide [config]="config" [data]="GetTags(Sanphams,['D.400', 'D.301', 'D.405', 'T.610', 'T.240', 'T.270'])"></app-swiperslide>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>
<div class="flex flex-col space-y-8 justify-between w-full m-auto">
  <div class="relative">
    <img class="lg:flex hidden m-auto" src="https://hderma.vn/assets/trangchu/hinhgiua.jpg" alt="">
    <img class="flex lg:hidden m-auto" src="https://hderma.vn/assets/trangchu/hinhgiua_mobile.jpg" alt="">
    <div class="hidden absolute lg:flex flex-col space-y-6 max-w-md top-1/3 left-[20%]">
      <div class="font-medium text-5xl">CHIỀU DA HẾT Ý</div>
      <div class="font-medium text-xl">H.Derma cung cấp giải pháp điều trị và phục hồi chuyên sâu cho từng tình trạng da
        ở mức độ cấp tế bào.</div>
      <div>
        <button type="button"
          class="text-white bg-gray-800 hover:bg-gray-900 focus:outline-none focus:ring-4 focus:ring-gray-300 font-medium rounded-lg text-sm px-5 py-3 mr-2 mb-2 dark:bg-gray-800 dark:hover:bg-gray-700 dark:focus:ring-gray-700 dark:border-gray-700">VÀO
          CỬA HÀNG</button>
      </div>
    </div>
    <div class="lg:hidden flex absolute bottom-4 inset-0 items-end justify-center">
      <button type="button"
        class="text-white bg-gray-800 hover:bg-gray-900 focus:outline-none focus:ring-4 focus:ring-gray-300 font-medium rounded-lg text-sm px-5 py-3 mr-2 mb-2 dark:bg-gray-800 dark:hover:bg-gray-700 dark:focus:ring-gray-700 dark:border-gray-700">VÀO
        CỬA HÀNG</button>
    </div>
  </div>
</div>
<div class="lg:pt-20 pt-10 flex flex-col space-y-8 justify-between max-w-[1440px] m-auto">
  <h2 class="uppercase lg:text-5xl text-3xl leading-snug text-center">
    KHÁM PHÁ HDERMA
  </h2>
  <div class="py-8">
    <swiper [config]="configdanhgia" class="mySwiper !pb-12">
      <ng-template swiperSlide>
        <a href="/san-pham" class="flex flex-col space-y-3 text-center transition duration-150 ease-in-out hover:scale-105">
            <img src="https://hderma.vn/assets/trangchu/hethongcuahang.jpg" alt="" srcset="">
          <a href="/san-pham" class="text-xl font-medium">
           <h3>Vào Cửa Hàng</h3>
          </a>
        </a>
      </ng-template>
      <ng-template swiperSlide>
        <a href="/blog/tin-tucs" class="flex flex-col space-y-3 text-center transition duration-150 ease-in-out hover:scale-105">
            <img src="https://hderma.vn/assets/trangchu/chiase.jpg" alt="" srcset="">
          <div class="text-xl font-medium">
            <h3>Góc Chia Sẽ</h3>
          </div>
        </a>
      </ng-template>
      <ng-template swiperSlide>
        <a href="/ve-chung-toi" class="flex flex-col space-y-3 text-center transition duration-150 ease-in-out hover:scale-105">
            <img src="https://hderma.vn/assets/trangchu/hderma.jpg" alt="" srcset="">
          <div class="text-xl font-medium">
            <h3>Câu Chuyện H.Derma</h3>
          </div>
        </a>
      </ng-template>
    </swiper>
  </div>
</div>