<div class="flex flex-col space-y-6 max-w-4xl m-auto p-4">
  <ol class="whitespace-nowrap flex items-center w-full text-sm font-medium text-center text-gray-500 dark:text-gray-400 sm:text-base">
    <li class="flex md:w-full items-center text-blue-600 dark:text-blue-500 sm:after:content-[''] after:w-full after:h-1 after:border-b after:border-gray-200 after:border-1 after:hidden sm:after:inline-block after:mx-6 xl:after:mx-10 dark:after:border-gray-700">
      <span class="material-symbols-outlined">check_circle</span>
      <span class="flex w-full items-center after:content-['/'] sm:after:hidden after:mx-2 after:text-gray-200 dark:after:text-gray-500">
         Thông Tin
      </span>
    </li>
    <li class="flex md:w-full items-center text-blue-600 dark:text-blue-500 sm:after:content-[''] after:w-full after:h-1 after:border-b after:border-gray-200 after:border-1 after:hidden sm:after:inline-block after:mx-6 xl:after:mx-10 dark:after:border-gray-700">
      <span class="material-symbols-outlined">check_circle</span>
      <span class="flex w-full items-center after:content-['/'] sm:after:hidden after:mx-2 after:text-gray-200 dark:after:text-gray-500">
        Phân Loại
        </span>
    </li>
    <li class="text-xl font-bold flex md:w-full items-center text-blue-600 dark:text-blue-500 sm:after:content-[''] after:w-full after:h-1 after:border-b after:border-gray-200 after:border-1 after:hidden sm:after:inline-block after:mx-6 xl:after:mx-10 dark:after:border-gray-700">
      <span class="material-symbols-outlined">check_circle</span>
      <span class="flex w-full items-center after:content-['/'] sm:after:hidden after:mx-2 after:text-gray-200 dark:after:text-gray-500">
         3. Tình Trạng 
        </span>
    </li>
    <li class="flex whitespace-nowrap items-end">
      <span class="flex w-full items-center">
      4. Kết Quả
      </span>
  </li>
  </ol>
  <div class="flex flex-col space-y-6">
    <!-- <ng-container *ngIf="Quiz3.length>0; else elseTemplate"> -->
      <div class="flex flex-col space-y-2" *ngFor="let Tinhtrang of Quiz3">
        <div class="text-2xl font-bold">{{Tinhtrang.Nhom.Title}}</div>
        <div class="ml-2 flex flex-col space-y-2" *ngFor="let item of Tinhtrang.children;let i = index">
          <div class="font-bold">{{item.Cauhoi}}</div>
          <div class="flex flex-col space-y-2">
            <div class="dapan cursor-pointer flex flex-row space-x-2 items-center justify-start {{item1.Traloi?'font-bold':''}}" *ngFor="let item1 of item.Dapan;let i = index" (click)="ChonTraloi(item,item1)">
              <ng-container *ngIf="item1.Traloi; else elseTemplate">
                <span class="material-symbols-outlined text-blue-500">radio_button_checked</span>
               </ng-container>
               <ng-template #elseTemplate>
                 <span class="material-symbols-outlined">radio_button_unchecked</span>
               </ng-template>
              <span>{{i+1}}.</span>
              <span [innerHTML]="item1.value"></span>
            </div>
          </div>
        </div>
      </div>
      <div class="flex flex-col space-y-2">
        <div class="ml-2 flex flex-col space-y-2">
          <div class="font-bold">{{Dieukienthem.Cauhoi}}</div>
          <div class="flex flex-col space-y-2">
            <div class="dapan cursor-pointer flex flex-row space-x-2 items-center justify-start {{item.Traloi?'font-bold':''}}"
             *ngFor="let item of Dieukienthem.Dapan;let i = index" (click)="ChonTraloiBonus(item,i)">
              <ng-container *ngIf="item.Traloi; else elseTemplate">
                <span class="material-symbols-outlined text-blue-500">radio_button_checked</span>
               </ng-container>
               <ng-template #elseTemplate>
                 <span class="material-symbols-outlined">radio_button_unchecked</span>
               </ng-template>
              <span>{{i+1}}.</span>
              <span [innerHTML]="item.Title"></span>
            </div>
          </div>
        </div>
      </div>
    <!-- </ng-container>
    <ng-template #elseTemplate>
        <div class="text-center font-bold">
          Không Có Câu Hỏi Tình Trạng Vui Lòng Đến Bước Tiếp Theo
        </div>
    </ng-template> -->
    

    <div class="flex flex-row space-x-2 justify-center text-center">
      <a (click)="Backstep()" mat-button class="bg-black text-white">Quay Lại</a>
      <a (click)="NextStep()" mat-button class="bg-black text-white">Tiếp Theo</a>
    </div>
  </div>
  </div>