<div class="flex flex-col max-w-7xl m-auto">
  <div class="flex flex-row space-x-4">
    <div class="p-8 flex flex-col space-y-8 w-1/3">
      <mat-form-field appearance="outline" class="w-full text-sm">
        <mat-label>Tìm Kiếm</mat-label>
        <input type="text" matInput class="w-full px-3 py-2 border border-gray-200 rounded"
          [placeholder]="'Tìm kiếm'" (input)="applyFilter($event)" />
        <span matPrefix class="material-icons mr-2">search</span>
      </mat-form-field> 
      <div>
        <ul class="list-none space-y-2">
          <ng-container *ngFor="let item of Danhmucs">
            <li>
              <ng-container *ngIf="item.children.length>0; else elseTemplate">
                <span class="font-semibold "> {{ item.Title }}</span>
              </ng-container>
              <ng-template #elseTemplate>
                <a [href]="'/blog/' + item.Slug" class="font-semibold">
                  {{ item.Title }}
                </a>
              </ng-template>
              <ul class="list-none mt-2 ml-4 space-y-2">
                <li *ngFor="let childItem of item.children">
                  <a [href]="'blog/' + childItem.Slug" class="text-body hover-secondary">
                    {{ childItem.Title }}
                  </a>
                </li>
              </ul>
            </li>
          </ng-container>
        </ul>
      </div>
      <div class="relative">
        <img src="https://hderma.vn/assets/trangchu/sidebar-blog-01.jpg" alt="">
        <div class="absolute pb-3 mx-auto mt-2 left-0 right-0 top-0 bottom-0 text-white flex items-end justify-center">
          <a href="/san-pham"><button type="button" class="text-white bg-gray-800 hover:bg-gray-900 focus:outline-none focus:ring-4 focus:ring-gray-300 font-medium rounded-lg text-sm px-5 py-3 mr-2 mb-2 dark:bg-gray-800 dark:hover:bg-gray-700 dark:focus:ring-gray-700 dark:border-gray-700">VÀO CỬA HÀNG</button></a>   
        </div>
      </div>
      <div class="flex flex-col space-y-2">
        <div class="flex flex-row justify-between">
          <span>FACEBOOK</span>
          <a href="https://www.facebook.com/hdermavietnam">
            @HDERMA
          </a>
        </div>
        <div class="grid grid-cols-3">
          <img src="https://hderma.vn/assets/trangchu/instagram-01.jpg" alt="">
          <img src="https://hderma.vn/assets/trangchu/instagram-02.jpg" alt="">
          <img src="https://hderma.vn/assets/trangchu/instagram-03.jpg" alt="">
          <img src="https://hderma.vn/assets/trangchu/instagram-04.jpg" alt="">
          <img src="https://hderma.vn/assets/trangchu/instagram-05.jpg" alt="">
          <img src="https://hderma.vn/assets/trangchu/instagram-06.jpg" alt="">
        </div>
      </div>
    </div>
    <div class="p-8 flex flex-col space-y-8 w-2/3 items-center justify-center">
      <div class="grid grid-cols-3 gap-8 px-" *ngFor="let item of PagiBaiviets">
        <img [src]="GetImage(item?.Hinhanh?.hinhchinh?.spath)">
        <div class="col-span-2 flex flex-col space-y-2 justify-center">
            <div class="font-semibold">{{item.CreateAt|date:'dd/MM/yyyy'}}</div>
            <a class="font-semibold text-lg" [href]="['/bai-viet/'+item.Slug]">{{item.Title}}</a>
            <div class="line-clamp-3" [innerHTML]="item.Mota"></div>
            <a class="font-semibold text-lg" [href]="['/bai-viet/'+item.Slug]">
                <span class="border-b hover:border-b-2 hover:border-black"> Xem Thêm </span>
            </a>
        </div>
      </div>
      <div class="flex flex-row justify-center">
          <ul class="inline-flex -space-x-px text-sm">
            <li><a href="bai-viet?page=1" class="flex items-center justify-center px-3 h-8 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white"><span class="material-icons">first_page</span></a></li>
            <li><a class="flex items-center justify-center px-3 h-8 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white" href="bai-viet?page={{currentPage-1}}"><span class="material-icons">navigate_before</span></a></li>
            <li (click)="pageChanged(item)" class="page-item {{item>totalPages?'d-none':''}}" *ngFor="let item of listPage" ><a class="{{item==currentPage?'text-blue-600 bg-blue-50':'text-gray-500 bg-white'}} flex items-center justify-center px-3 h-8 leading-tight   border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white" href="bai-viet?page={{item}}"><span>{{item}}</span></a></li>
            <li><a class="flex items-center justify-center px-3 h-8 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white {{currentPage==totalPages?'d-none':''}}" href="bai-viet?page={{currentPage+1}}"><span class="material-icons px-2">navigate_next</span></a></li>
            <li><a class="flex items-center justify-center px-3 h-8 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white {{currentPage==totalPages?'d-none':''}}" href="bai-viet?page={{totalPages}}"><span class="material-icons">last_page</span></a></li>
          </ul>
      </div>
    </div>
  </div>
</div>
