<div class="!flex flex-col flex-auto min-w-0 relative bg-white">
  <div class="relative border-b-2 flex flex-row justify-between items-center p-3">
    <span class="material-icons p-2 hover:bg-gray-200 rounded-full" (click)="CloseDrawer()">
      arrow_back
    </span>
    <div>
      <button mat-raised-button color="primary" (click)="Update(Detail)">Cập Nhật</button>
    </div>
  </div>
  <div class="relative w-full flex flex-col space-y-6 justify-between p-4 bg-gray-100">
    <div class="grid lg:grid-cols-2 gap-4 w-full">
      <div class="p-4 rounded-lg shadow-md bg-white">
        <mat-form-field appearance="outline" class="w-full">
          <mat-label>Tiêu Đề</mat-label>
          <input [(ngModel)]="Detail.Title" [ngModelOptions]="{standalone: true}" matInput type="text" class="w-full"
            placeholder="Tiêu Đề" />
        </mat-form-field>
        <div class="font-bold">Mô Tả</div>
        <editor [apiKey]="APITINYMCE" [(ngModel)]="Detail.Mota" [ngModelOptions]="{standalone: true}"
          [init]="configTiny"></editor>
      </div>

      <div class="grid grid-cols-1 gap-4 p-4 rounded-lg shadow-md bg-white">
        <div class="flex flex-col space-y-2">
          <div class="flex flex-row space-x-2 items-center">
            <mat-form-field appearance="outline" class="w-full">
              <mat-label>Sản Phẩm</mat-label>
              <input type="text" matInput [(ngModel)]="SelectSanpham" [ngModelOptions]="{standalone: true}"
                [matAutocomplete]="autoSanpham" (input)="applyFilter($event)">
              <mat-autocomplete #autoSanpham="matAutocomplete" [displayWith]="displayFn">
                <mat-option *ngFor="let item of filterSanphams" [value]="item" (click)="ChoosenSanpham(item)">
                  <div class="flex flex-row space-x-2 items-center">
                    <img [src]="GetImage(item.Hinhanh)" class="h-10">
                    <span>{{item.Tieude}}</span>
                  </div>
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>
          </div>
          <div class="flex flex-row space-x-2 justify-between" *ngFor="let item of Detail.Sanpham; let i = index">
            <div class="flex flex-row space-x-2">
              <img [src]="GetImage(item.Hinhanh)" class="h-10">
              <div>{{item.Tieude}}</div>
            </div>
            <div (click)="RemoveSanpham(item)"><span class="material-symbols-outlined">
                do_not_disturb_on
              </span></div>
          </div>
        </div>

        
        <div class="flex flex-col space-y-2">
          <div class="flex flex-row space-x-2 items-center">
            <mat-form-field appearance="outline" class="w-full">
              <mat-label>Sản Phẩm Gợi Ý</mat-label>
              <input type="text" matInput [(ngModel)]="SelectCombo" [ngModelOptions]="{standalone: true}"
                [matAutocomplete]="autoCombo" (input)="applyFilter($event)">
              <mat-autocomplete #autoCombo="matAutocomplete" [displayWith]="displayFn">
                <mat-option *ngFor="let item of filterCombos" [value]="item" (click)="ChoosenCombo(item)">
                  <div class="flex flex-row space-x-2 items-center">
                    <img [src]="GetImage(item.Hinhanh)" class="h-10">
                    <span>{{item.Tieude}}</span>
                  </div>
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>
          </div>
          <div class="flex flex-row space-x-2 justify-between" *ngFor="let item of Detail.Combo; let i = index">
            <div class="flex flex-row space-x-2">
              <img [src]="GetImage(item.Hinhanh)" class="h-10">
              <div>{{item.Tieude}}</div>
            </div>
            <div (click)="RemoveCombo(item)"><span class="material-symbols-outlined">
                do_not_disturb_on
              </span></div>
          </div>
        </div>
      </div>

    </div>
    <!-- <div class="flex flex-col space-y-4 p-4 rounded-lg shadow-md bg-white">
      <div *ngFor="let item of Detail.Dieukien">
        {{item|json}}
      </div>
    </div> -->
    <div (click)="Detail.Dieukien.push({})">Thêm Điều Kiện</div>
    <app-combosanpham-dieukien (dataEvent)="receiveData($event)" [Dieukien]="item" [Index]="i" *ngFor="let item of Detail.Dieukien;let i = index"></app-combosanpham-dieukien>

    <!-- <div class="grid grid-cols-3 gap-4">
      <div class="flex flex-col space-y-4 p-4 rounded-lg shadow-md bg-white">
          <span class="font-bold">Điều Kiện Thông Tin</span>

          <div class="flex flex-col space-y-2" *ngFor="let item of Thongtins;let i = index">
            <span class="font-bold">{{item.Cauhoi}}</span>
            <div (click)="AddDieukienThongtin(item,item1,i)" class="flex flex-row space-x-2 items-center" *ngFor="let item1 of item.Dapan">
              <span class="material-symbols-outlined">{{CheckThongtin(item,item1,i)==true?'radio_button_checked':'radio_button_unchecked'}}</span>
                <span [innerHTML]="item1.value"></span>
          </div>
        </div>
      </div>

      <div class="flex flex-col space-y-4 p-4 rounded-lg shadow-md bg-white">
        <span class="font-bold">Điều Kiện Phân Loại</span>
        <div class="flex flex-col space-y-2" *ngFor="let item of Phanloais;let i = index">
          <span class="font-bold">  {{item?.Nhom?.Title}}</span>
          <div (click)="AddDieukienPhanloai(item,item1,i)" class="flex flex-row space-x-2 items-center" *ngFor="let item1 of item.Nhom.Dieukien">
            <span class="material-symbols-outlined">{{CheckPhanloai(item,item1,i)==true?'radio_button_checked':'radio_button_unchecked'}}</span>
            <span>{{item1.Title}}</span>
          </div>
        </div>
      </div>

      <div class="flex flex-col space-y-2 p-4 rounded-lg shadow-md bg-white">
        <span class="font-bold">Điều Kiện Tình Trạng</span>
          <span class="font-bold">{{Tinhtrang?.Nhom?.Title}}</span>
          <div class="flex flex-col space-y-2" *ngFor="let item1 of Tinhtrang?.children;let i = index">
            <span class="font-bold">  {{item1.Cauhoi}}</span>
            <div  (click)="AddDieukienTrangthai(item1,item2,i)" class="flex flex-row space-x-2 items-center" *ngFor="let item2 of item1.Dapan">              
              <span class="material-symbols-outlined">{{CheckTinhtrang(item1,item2,i)==true?'radio_button_checked':'radio_button_unchecked'}}</span>
              <span [innerHTML]="item2.value"></span>
            </div>
          </div>
      </div>    
    </div> -->
  </div>